<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label 		:name %><br />
		<%= f.text_field 	:name, :placeholder => "Enter Your Name" %>
	</div>
	<div class="field">
		<%= f.label 		:email %><br />
		<%= f.text_field 	:email, :placeholder => "Enter Your Email'id" %>
	</div>
	<div class="field">
		<%= f.label 			:password %><br />
		<%= f.password_field 	:password, :placeholder =>"Enter Your Password"%>	
	</div>
	<div class="field">
		<%= f.label 			:password_confirmation,"Confirmation" %><br />
		<%= f.password_field 	:password_confirmation, :placeholder =>"Enter Your Password Again" %>
	</div>